altgraph==0.17.4
attrs==19.3.0
audio-metadata==0.11.1
bidict==0.23.1
bitstruct==8.19.0
more-itertools==8.14.0
packaging==24.1
pendulum==3.0.0
pprintpp==0.4.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
pytaglib==3.0.0
python-dateutil==2.9.0.post0
setuptools==74.0.0
shiboken6==6.7.2
six==1.16.0
tbm-utils==2.6.0
time-machine==2.15.0
tzdata==2024.1
wrapt==1.16.0